* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #182729;
  width: 100%;
  max-width: 800px;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.textDecor {
  background-image: linear-gradient(360deg, #3d3d3d, #ffffffda);
  background-clip: text;
  color: transparent;
}

/*Utils*/
h2.textBlockHeader {
  color: #b3d3cf;
}

.banner {
  width: 100%;
  height: 45px;
  background-image: linear-gradient(180deg, #182729, #863636, #182729);
  filter: blur(0.5px);
}
.banner-lg {
  height: 150px;
}

/*Header*/

header nav {
  padding: 8% 5%;
  background-color: #56332a;
  box-shadow: inset 0 -12px 20px -3px #f7f7f7;
}

header nav h1 {
  padding: 2px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}

/*Hero*/

section#hero {
  display: flex;
  flex-direction: column;
  position: relative;
}

.backgroundHeroImage {
  background-image: url("images/enterjesus.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80svh;
  filter: brightness(0.6);
}

section#hero blockquote {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 400px;
  padding: 2rem;
  font-size: 1.2rem;
  text-align: end;
  line-height: 1.5;
  position: absolute;
  font-weight: 900;
  z-index: 1;
  top: 5%;
  right: 5%;
}
section#hero blockquote footer {
  font-weight: 800;
}

/*Birth*/

section#birth {
  background-color: #182729;
  color: #fefefe;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

img#birthImage {
  width: 300px;
  height: auto;
  max-height: 400px;
  background-color: #fefefe;
  padding: 12px;
  margin: 5px;
}

section#birth .textBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 50%;
}

/*Magnificat*/

section#magnificat {
  padding: 5%;
  width: 80%;
}

section#magnificat img {
  width: 65%;
  height: 400px;
  float: right;
  padding: 3%;
}

section#magnificat .textBlock {
  padding: 5%;
  background-image: linear-gradient(
    #182729,
    #4c8f86,
    #f1f2ff,
    #f1f2ff,
    #f1f2ff,
    #f1f2ff
  );
  background-color: #b3d3cf;
  border: 6px double rgb(221, 199, 142);
  border-radius: 15px;
  box-shadow: -3px 3px 8px -1px rgba(0, 0, 0, 0.5);
}

/*Foundations*/
#life {
  text-align: center;
  margin: 0 auto;
  padding: 2%;
  /* border: 1px solid black; */
}

.foundations h3 {
  background-color: #b3d3cf;
  padding: 10px 25px;
}

.foundations .lifeBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33% 1fr;
  grid-template-areas:
    "rachel rachel"
    "exiled nazarene";
  gap: 10%;
}

.rachel {
  grid-area: rachel;
}
.exiled {
  grid-area: exiled;
}
.nazarene {
  grid-area: nazarene;
}
